html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    scrollbar-width: thin; /* auto | thin | none */
    scrollbar-color: #c1c1c1 #f1f1f1; /* 滑块颜色 轨道颜色 */
}

/* Webkit */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
    border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.editor-tabs {
    height: 100%;
}

.editor-tabs .ant-tabs-content {
    height: 100%;
}

.editor-tabs .ant-tabs-content .ant-tabs-tabpane {
    height: 100%;
    overflow: hidden;
}

.editor-tabs .ant-tabs-nav {
    margin-bottom: 0;
    height: 46px;
}

.main-content {
    width: calc(100% - 56px);
    height: 100vh;
}

.main-side {
    /*overflow-y: scroll;*/
    height: 100vh;
}

.main-side-menu {
    height: 100vh;
    border-inline-end-width: 1px;
    border-inline-end-style: solid;
    border-inline-end-color: rgba(0, 0, 0, 0.05);
}

.main-body {
    height: 100vh;
}

.menu {
    border-inline-end-width: 0 !important;
}

.menu .ant-menu-item {
    padding: 4px 12px 0 12px;
}

#left-panel-header-search-container {
    width: calc(100% - 56px);
}

.search-file-name, .search-file-name .ant-select-selector, .search-file-name .ant-select-selection-wrap {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.left-panel-header-container {
    width: 100%;
    padding: 0 4px;
}

.left-panel-header-container .ant-select .ant-select-selection-item {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}

.ant-tabs .ant-tabs-tab-btn .ant-tabs-tab-icon:not(:last-child) {
    margin-inline-end: 4px;
    vertical-align: middle;
}

.ant-tabs-nav-list {
    padding-top: 6px;
}

.ant-tree-node-content-wrapper {
    display: flex;
    align-items: center;
}

.ant-tree-title {
    display: flex;
    align-items: center;
    height: 32px;
}

#editor-wrapper {
    height: 100%;
    padding: 0;
}

.editor-shell, .editor-scroller, .editor {
    height: 100%;
}

.ContentEditable__root {
    padding-bottom: 140px;
    height: 100%;
}

.editor-container {
    height: calc(100% - 37px);
}

@media print {
    .no-print, .main-side, .main-side-menu, .editor-tabs .ant-tabs-nav, .toolbar {
        display: none !important;
        height: 0;
        padding: 0;
        margin: 0;
        visibility: hidden;
    }

    #root, html, body,
    .main-body,
    .ant-tabs,
    .ant-tabs-content-holder,
    .ant-tabs-content,
    .ant-tabs-tabpane,
    .rcs-custom-scroll,
    .rcs-outer-container,
    .rcs-inner-container,
    .rcs-inner-container div,
    #editor-wrapper {
        padding: 0;
        margin: 0;
        height: auto !important;
        overflow: visible !important;
        font-size: 12pt; /* 建议使用pt单位 */
    }

    @page {
        size: A4; /* 纸张尺寸 */
        margin: 1.5cm;
    }
}

